{% load i18n widget_tweaks %}

{% if form.non_field_errors %}

<div class="alert alert-danger" role="alert">
    <strong>{% trans "Error!" %}</strong>
    {% for error in form.non_field_errors %}
    {{ error }}
    {% endfor %}
</div>
{% endif %}

{% for field in form %}

{% if field.is_hidden %}
{{ field }}
{% else %}
<div class="form-group {% if field.errors %}has-error{% endif %}">
    <label class="col-sm-1 control-label">{{ field.label_tag }}</label>
    <div class="col-sm-5">
        {{ field|add_class:"form-control" }}
        {% for error in field.errors %}
        <span class="help-block">{{ error }}</span>
        {% endfor %}
    </div>
</div>
{% endif %}

{% endfor %}
