{% load i18n %}

<div class="container">
    <div class="header">
        <ul class="nav nav-pills pull-right">
            <li>
            <div class="btn-group">
                {% if user.is_authenticated %}
                <button id="js-camera-control" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    {{ user.camera_id }} <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="">{% trans "Change title" %}</a></li>
                    <li class="divider"></li>
                    <li><a id="js-logout-control" href="">{% trans "Logout" %}</a></li>
                </ul>
                {% endif %}
            </div>
            </li>
        </ul>
        <h3 class="text-muted">Groupcam</h3>
        <h3 class="text-muted">cookies={{ request.COOKIES }}</h3>
        <h3 class="text-muted">session={{ request.session.uid }}</h3>
    </div>
</div>
